html(lang='en')
 include includes/head.pug
 body
  include includes/intro.pug 
  include includes/sidemenu.pug
  include includes/portfolio.pug   
  include includes/workprocess.pug
  include includes/contact.pug  
  

 
 
 
 
 include includes/footer.pug
 include includes/scripts.pug 
