@import "./base";

/***************************************
 About
****************************************/

.about-page{
 position: absolute;
 top: 0;
 width: 100%;
 height: auto;
 @include flex-center-column;
 .hero{
  background: linear-gradient(to bottom right, #2AB7FF, #5EFFB2);
  width: 100%;
  height: 30vh;
  display: flex;
  @include flex-center-column;
  color: $default-color;
 }
 .about-text{
  width: 80%;
  text-align: center;
  .wrapper{

  }
 }
}
