@import "./base";

/***************************************
 About
****************************************/

.about-page{
 width: 100%;
 height: 100vh;
 background-color: $default-color;
 @include flex-center-column;
 &:hover{
  background-color: rgba(3, 3, 3, 0.8);
  color: #fff;
 }
}
