@import "./base";

/***************************************
 About
****************************************/

.about-page{
 position: absolute;
 top: 0;
 width: 100%;
 height: auto;
 @include flex-center-column;
 .hero{
  @include hero;
 }
 .about-text{
  width: 80%;
  text-align: center;
  .wrapper{

  }
 }
}
