
/***************************************
 Variables
****************************************/

$default-color: #fff;
$text-color: #333;
$font-size-text: 18px;
$font-size-title: 26px;
$font-size-heading: 36px;

/***************************************
Globals
****************************************/

h2{
 margin: 0;
 font-size: $font-size-title;
}

p{
 color: $text-color;
 font-size: $font-size-text;
}

a{
 color: $text-color;
 font-size: $font-size-text;
 text-decoration: none;
}

.divider{
 border: 2px solid;
 width: 40%;
 margin: 0;
}

.btn{
  width: 100%;
  padding: 10px 0 10px 0;
  margin: 10px 0 0 0;
  background-color: navy;
  border: none;
  border-radius: 10px;
  color: $default-color;
  font-size: $font-size-text;
  cursor: pointer;
}
.btn-round{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #333;
  color: $default-color;
  font-size: $font-size-text;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.fa {
 font-size: $font-size-title;
}

/***************************************
Mixins
****************************************/
@mixin menu-content {
  width: 100%;
  height: 33vh;
  background-color: $default-color;
  a{
   font-size: $font-size-title;
  }
  @media (min-width: 1024px){
    height: 100vh;
  }
}
@mixin menu-hover {
  &:hover{
   background-color: rgba(3, 3, 3, 0.8);
   color: $default-color;
   position: relative;
   z-index: 2;
   box-shadow: 10px 10px 10px #888, -10px -10px 10px #888;
   a{
    color: $default-color;
   }
  }
}
@mixin flex-center-column {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
@mixin flex-center-row {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
 flex-wrap: wrap;
}
@mixin hero {
  background: linear-gradient(to bottom right, #2AB7FF, #5EFFB2);
  width: 100%;
  height: 30vh;
  display: flex;
  @include flex-center-column;
  color: $default-color;
}
@mixin input-fields {
  input{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 0px 10px 10px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: $font-size-text;
  }
}

/***************************************
Media breakpoints
****************************************/
// @media (min-width: 480px){
//
// }
// @media (min-width: 840px){
//
// }
// @media (min-width: 1024px){
//
// }
// @media (min-width: 1280px){
//
// }
