@import "./base";

@media (min-width: 840px){

}

@media (min-width: 1024px){
 h1{
  font-size: $font-size-big;
  color: $text-color;
 }
  .nav-content{
    flex-direction: row;
    .page-title{
     width: 100%;
     height: 40vh;
     position: absolute;
     top: 0;
     @include flex-center-column;
    }
    .about{
      height: 100vh
    }
    .work{
      height: 100vh
    }
    .contact{
      height: 100vh
    }
  }
  .hamburger-btn{
    height: 50px;
  }
  .work-page{
    .page-wrapper{
      width: 70%;
      .cases{
        .big-case{
          width: 50%;
          height: 350px;
          padding: 0;
          img{
           width: 100%;
           height: 350px;
          }
          .case-info{
           background-color: rgba(42, 183, 255, 0.8);
           height: 350px;
           opacity: 0;
           position: absolute;
           padding: 0;
          }
          .case-text{
           height: 250px;
          }
        }
      }
    }
  }
  .login-page{
    width: 30%;
  }
  .admin-page{
    width: 70%;
    .admin-inputs{
     textarea{
       height: 180px;
       margin: 10px 10px 0px 30px;
     }
   }
  }
  // .about-page{
  //  position: absolute;
  //  top: 0;
  //  width: 100%;
  //  height: auto;
  //  @include flex-center-column;
  //  .hero{
  //   @include hero;
  //  }
  //  .about-text{
  //   width: 100%;
  //   ul {
  //    list-style-type: none;
  //    padding: 0;
  //    li{
  //     padding-top: 10px;
  //    }
  //   }
  //  }
  //  .about-contact{
  //   padding: 50px 0 0 0;
  //   width: 80%;
  //   @include flex-center-row;
  //   a{
  //    color: $default-color;
  //   }
  //  }
  // }
}
