@import "./base";

/***************************************
 Media queries
****************************************/

/***************************************
Breakpoint for xsmall screens
****************************************/
@media (min-width: 480px){
  .work-page{
    .page-wrapper{
      .cases{
        align-items: center;
        justify-content: center;
        .big-case{
          height: 250px;
          width: 80%;
          img{
           height: 100%;
          }
          .case-info{
           background-color: rgba(42, 183, 255, 0.8);
           height: 250px;
           opacity: 0;
           position: absolute;
           padding: 0;
          }
        }
      }
    }
  }
}

/***************************************
Breakpoint for small screens
****************************************/
@media (min-width: 840px){
  .work-page{
    .page-wrapper{
      width: 80%;
      .cases{
        .big-case{
          width: 50%;
          height: 250px;
          padding: 0;
          img{
           width: 100%;
           height: 100%;
          }
          .case-info{
           background-color: rgba(42, 183, 255, 0.8);
           height: 100%;
           opacity: 0;
           position: absolute;
           padding: 0;
          }
        }
      }
    }
  }
}

/***************************************
Breakpoint for medium screens
****************************************/
@media (min-width: 1024px){
 h1{
  font-size: $font-size-big;
  color: $text-color;
 }
  .nav-content{
    flex-direction: row;
    .page-title{
     width: 100%;
     height: 40vh;
     position: absolute;
     top: 0;
     @include flex-center-column;
     h1,
     h2{
       background: -webkit-linear-gradient(#eee, #fff);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       position: relative;
       z-index: 5;
     }
    }
    .about{
      height: 100vh
    }
    .work{
      height: 100vh
    }
    .contact{
      height: 100vh
    }
  }
  .hamburger-btn{
    height: 75px;
  }
  .work-page{
    .page-wrapper{
      width: 70%;
      .cases{
        display: flex;
        align-items: center;
        justify-content: center;
        .big-case{
          width: 50%;
          height: 350px;
          padding: 0;
        }
      }
    }
  }
  .login-page{
    background-color: rgba(42, 183, 255, 0.8);
    width: 50%;
    height: 85px;
    position: absolute;
    top: 30vh;
    z-index: 10;
    @include flex-center-row;
    .login-fields{
      width: 100%;
      @include flex-center-row;
      .login-inputs{
        width: 80%;
        @include flex-center-row;
        input{
          width: 40%;
          height: 30px;
          margin: 0 0 0 10px;
          padding: 0px 0px 0 10px;
          border: 0.1px solid;
          border-radius: 10px;
          font-size: 14px;
        }
      }
      .btn-login{
        width: 80%;
      }
    }
    .error-field{
      p{
        color: $default-color;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  .admin-page{
    width: 100%;
    .admin-inputs{
     textarea{
       height: 180px;
       margin: 10px 10px 0px 30px;
     }
   }
  }
}

/***************************************
Breakpoint for large screens
****************************************/
@media (min-width: 1280px){
  .work-page{
    .page-wrapper{
      max-width: 1280px;
      .cases{
        display: flex;
        align-items: center;
        width: 100%;
        .big-case{
          width: 50%;
          height: 350px;
        }
      }
    }
  }
}
