@import "./base";

/***************************************
Navbar
****************************************/
@keyframes slideIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-content{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .page-title{
   width: 100%;
   height: 33vh;
   animation: slideIn 1s ease-in-out;
   @include flex-center-column;
   h1{
    font-size: $font-size-heading;
   }
  }
  .about{
    width: 100%;
    height: 33vh;
    .about-page-link{
      background-image: url("../img/slott.jpg");
      background-position: center;
      background-size: cover;
      @include menu-content;
      @include flex-center-row;
      // @include menu-hover;
      h2,
      hr{
        position: relative;
        z-index: 5;
        animation: slideIn 3s ease-in-out;
        color: $sec-text-color;
      }
    }
  }
  .work{
   width: 100%;
   height: 33vh;
   .work-page-link{
      background-image: url("../img/code.jpg");
      background-position: center;
      background-size: cover;
      @include menu-content;
      @include flex-center-column;
      // @include menu-hover;
      h2,
      hr{
        position: relative;
        z-index: 5;
        animation: slideIn 3s ease-in-out;
        color: $sec-text-color;
      }
    }
  }
  .page-link-content{
    width: 100%;
    @include flex-center-column;
  }
}

.navbar{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 75px;
  height: 70px;

  ul{
    list-style-type: none;
    display: block;
    width: 200px;
    height: 150px;
    background-color: rgba(3, 3, 3, 1);
    border-radius: 0px 0% 60% 0%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 10px;
    li{
      //  float: left;
      padding: 10px 10px 10px 50px;
      a {
       color: $default-color
      }
    }
  }
}
.hamburger-btn{
  position: relative;
  z-index: 4;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  background-color: rgba(3, 3, 3, 0.8);
  border-radius: 0px 0% 60% 0%;
  .long-line{
    width: 35px;
    height: 1px;
    background-color: $default-color;
    margin: 6px 0;
  }
  .short-line{
    width: 25px;
    height: 1px;
    background-color: $default-color;
    margin: 3px 0;
  }
}

@keyframes open {
  from{ margin-left: -100%; width: 0px;}
  to{ margin-left: 0%; width: 75px;}
}

.open{
  animation: open 0.3s ease-in-out;
}
