section(id='portfolio')
 h1 Portfolio
 div(class='column')
  div(class='columns-2 columns-1')
   div(style='background-image: url(public/img/portfolio/kalmarck.png)')
    div(class='txtcontainer')
     h2 Kalmar cykelkubb
     p Ett skräddarsytt wordpress tema utvecklat åt Kalmar cykelklubb.
     button(class='portfoliobtn') 
      a(href='http://www.kalmarck.midjich.se' target='blanck') Se det live
  div(class='columns-2 columns-1')
   div(style='background-image: url(public/img/portfolio/tarningen.png)')  
    div(class='txtcontainer')
     h2 Tärningen spelbutik
     p Ett skräddarsytt wordpress tema utvecklat åt en butik i Kalmar.
     button(class='portfoliobtn') 
      a(href='' target='blanck') Se det live 
  div(class='columns-2 columns-1')
   div(style='background-image: url(public/img/portfolio/garnstugan.png)') 
    div(class='txtcontainer')
     h2 Garnstugan
     p En webbsida med ett enkelt beställningsformulär.
     button(class='portfoliobtn')
      a(href='http://www.garnstugan.se' target='blanck') Se det live
  div(class='columns-2 columns-1') 
   div(style='background-image: url(public/img/portfolio/booinacka.png)') 
    div(class='txtcontainer')
     h2 Booinacka
     p En webbsida utvecklad åt en bostadsförening. Sidan ska användas främst för att boenden ska kunna boka lokal och se när lokalen är bokad.  
     button(class='portfoliobtn')
      a(href='http://www.booinacka.se' target='blanck') Se det live
