section(id='sidemenu' class='hidden')
 a(href='#portfolio') 
  div(class='roundbtn_side') 
   i(class="fa fa-briefcase" aria-hidden="true")
    span(class='tooltiptext') Portfolio 
 a(href='#contact') 
  div(class='roundbtn_side') 
   i(class="fa fa-envelope-o" aria-hidden="true")
    span(class='tooltiptext') Kontakta
 a(href='https://www.facebook.com/alexander.midjich' target='blanck') 
  div(class='roundbtn_side') 
   i(class="fa fa-facebook" aria-hidden="true")
    span(class='tooltiptext') Facebook
 a(href='https://www.linkedin.com/in/alexander-midjich-2031b751/' target='blanck') 
  div(class='roundbtn_side') 
   i(class="fa fa-linkedin" aria-hidden="true")
    span(class='tooltiptext') LinkedIn
 a(href='https://github.com/AlexMidjich' target='blanck') 
  div(class='roundbtn_side') 
   i(class="fa fa-github" aria-hidden="true")
    span(class='tooltiptext') GitHub
