section(id='workprocess')
 h1 Arbetssätt
  div(class='column')
   div(class='columns-3 columns-1')
    i(class="fa fa-code" aria-hidden="true")
    h3 Webbutveckling
    p Bygga snygga responsiva hemsidor med html 5, css3, javascript, node och React. 
   div(class='columns-3 columns-1')
    i(class="fa fa-wordpress" aria-hidden="true")
    h3 Wordpress
    p Får ditt egna skräddarsydda tema anpassat för Wordpress. Ett av världen populäraste CMS
   div(class='columns-3 columns-1')
    i(class="fa fa-lightbulb-o" aria-hidden="true")
    h3 Idéutveckling
    p Hjälp med att förverkliga din egna idé eller något som vi kommer fram till gemensamt. 
